<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!--Google Fonts-->
     <link href="https://fonts.googleapis.com/css?family=Anton|Cabin" rel="stylesheet">
    <style>
     .card{
         height: 200px;
     }
    label{
        color: blue;
    }
    input{
        padding: 2px;
    }
    h3{
        font-family: Anton;
    }
    p{
        font-family: Cabin;
    }
    label{
        font-family: Cabin;
        font-weight: bolder;
    }
    </style>
</head>

<body>
    <header>
        <nav class="nav-wrapper blue">

        </nav>
    </header>
    <section>
        <form action="" method="post">
            {% csrf_token %}
        <div class="">
            <h3 class="blue-text center">FORM</h3>
            <div class="row">
                <div class="col m6">
                    <div class="card">
                        <div class="card-content">

                                <div>
                                    <label for="Name"><b >Name</b></label>
                                    <select id="name-select" required name="parameters" class="browser-default">
                                        <option value="" disabled selected>Name</option>
                                        <option value="sai">Sai</option>
                                        <option value="Phenix">Phenix</option>
                                        <option value="person3">person3</option>
                                    </select>
                                    <input id="name" type="hidden" name="name" />
                                    <!--<label  for="name"><b>Name</b></label>-->
                                    <!--<input list="name-list"  type="text" name="name" id="" placeholder="Enter your name">-->
                                        <!--<select>-->
                                            <!--<option value="Sai">Sai</option>-->
                                            <!--<option value="Will">Will</option>-->
                                            <!--<option value="Phoebe">Phoebe</option>-->
                                            <!--<option value="Sree">Sree</option>-->
                                        <!--</select>-->
                                </div>
                                <!---->
                                <div>
                                    <label for="Search"><b >Search Form</b></label>
                                    <select id="lol" onchange="if(this.value == 'Budget Approval Form'){form1();}
                                if(this.value == 'Reimbursement Form'){form2();}
                                if(this.value == 'Purchase Order'){form3();}" required name="parameters" class="browser-default">
                                        <option value="" disabled selected>Search Form</option>
                                        <option value="Budget Approval Form">Budget Approval Form</option>
                                        <option value="Reimbursement Form">Reimbursement Form</option>
                                        <option value="Purchase Order">Purchase Order</option>
                                    </select>
                                    <input id="index" type="hidden" name="index" />
                                    <input id="form-name" type="hidden" name="form" />
                                    <!--<label for=""><b>Search Form</b></label>-->
                                <!--<input id="form-name" onchange="if(this.value == 'Budget Approval Form'){form1();}-->
                                <!--if(this.value == 'Reimbursement Form'){form2();}-->
                                <!--if(this.value == 'Purchase Order'){form3();}"-->
                                <!--type="text" list="form-list" placeholder="search for form" value="">-->
                                    <!--<datalist id="form-list">-->
                                        <!--<select id="forms" multiple size="5" name="" id="">-->
                                            <!--<option value="Budget Approval Form">Budget Approval Form</option>-->
                                            <!--<option value="Reimbursement Form">Reimbursement Form</option>-->
                                            <!--<option value="Purchase Order">Purchase Order</option>-->
                                        <!--</select>-->
                                    <!--</datalist>-->
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col m12">
                    <div class="">
                        <div class="">
                                <div style="display: none" id="form-1">
                                    <p class="flow-text blue-text">Budget Approval Form</p>
                                    <table id="myTable1">
                                        <th>Pupose</th>
                                        <th>Request Date</th>
                                        <th>Resquest Approval Date</th>
                                        <th>Delivery Place</th>
                                        <th>No</th>
                                        <th>Vendor</th>
                                        <th>Product</th>
                                        <th>Spec or Duration</th>
                                        <th>Quantity</th>
                                        <th>Unit price</th>
                                        <th>Total Price</th>
                                        <th>Remarks</th>
                                        <th>Total</th>

                                        <th>Add</th>
                                        <tr>
                                            <td><input onchange="this.textContent()" type="text" name="txtpurpose1" id="txtName1" /></td>
                                            <td><input type="text" name="txtreqdate1" id="txtAge" /></td>
                                            <td><input type="text" name="txtreqappdate1" id="txtGender" /></td>
                                            <td><input type="text" name="txtdelivplace1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtnol1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtvendor1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtproductt1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtspecc1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtquant1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtunitpricee1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txttotalprice1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtremarkk1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txttotalmoney1" id="txtOccupation" /></td>

                                            <td><input type="button" id="btnAdd" class=" btn button-add" onClick="insertRowt1()" value="add"></td>
                                        </tr>
                                </table>
                                <button class="btn" onclick="javascript:demoFromHTML();">Generate PDF</button>
                                    <button class="btn" onclick="getGender();getForm();">Submit</button>
                                </div>
                                <div style="display: none" id="form-2">
                                    <p class="flow-text blue-text">Reimbursement Form</p>
                                    <table id="myTable2">
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Paid to</th>
                                        <th>Payment Method</th>
                                        <th>Details</th>
                                        <th>Amount</th>
                                        <th>Remarks</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                        <th>Add</th>
                                        <tr>
                                            <td><input type="text" name="txtdate1" id="txtName" /></td>
                                            <td><input type="text" name="txtitems1" id="txtAge" /></td>
                                            <td><input type="text" name="txtpaidto1" id="txtGender" /></td>
                                            <td><input type="text" name="txtpaymethod1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtdetails1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtamount1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtremarks1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txtsubtotal1" id="txtOccupation" /></td>
                                            <td><input type="text" name="txttotal1" id="txtOccupation" /></td>
                                            <td><input type="button" id="btnAdd" class="btn button-add" onClick="insertRowt2()" value="add"></td>
                                        </tr>

                                </table>
                                    <button class="btn" onclick="javascript:demoFromHTML();">Generate PDF</button>
                                    <button class="btn" onclick="getGender();">Submit</button>
                                </div>
                                <div style="display: none" id="form-3">
                                    <p class="flow-text blue-text">Purchase Order</p>
                                    <table id="myTable3">
                                        <th>Purchase</th>
                                        <th>Date of Purchase</th>
                                        <th>Attention To</th>
                                        <th>Contact Person</th>
                                        <th>TEL</th>
                                        <th>Venor</th>
                                        <th>Contact Person</th>
                                        <th>TEL</th>
                                        <th>Delivery Date</th>
                                        <th>Delivery Place</th>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Spec</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Sum</th>
                                        <th>Remark</th>
                                        <th>Total</th>
                                        <th>Add</th>
                                        <tr>
                                            <td><input name="txtpurchase" type="text" id="txtName" /></td>
                                            <td><input name="txtdateofpurchase" type="text" id="txtAge" /></td>
                                            <td><input name="txtattentionto" type="text" id="txtGender" /></td>
                                            <td><input name="txtcontactperson" type="text" id="txtOccupation" /></td>
                                            <td><input name="txttel" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtvenor" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtcontactperson" type="text" id="txtOccupation" /></td>
                                            <td><input name="txttel" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtdeliverydate" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtdeliveryplace" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtno" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtproduct" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtspec" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtunit" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtquantity" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtunitprice" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtsum" type="text" id="txtOccupation" /></td>
                                            <td><input name="txtremark" type="text" id="txtOccupation" /></td>
                                            <td><input name="txttotal" type="text" id="txtOccupation" /></td>
                                            <td><input type="button" id="btnAdd" class=" btn button-add" onClick="insertRowt3()" value="add"></td>
                                        </tr>
                                </table>
                                    <button class="btn" onclick="javascript:demoFromHTML();">Generate PDF</button>
                                    <button class="btn" onclick="getGender();">Submit</button>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script>



                function form1() {
                    document.getElementById("form-2").style.display = "none";
                    document.getElementById("form-3").style.display = "none";
                    var x = document.getElementById("form-1");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    console.log("form-1")
                }


                function form2() {
                    document.getElementById("form-1").style.display = "none";
                    document.getElementById("form-3").style.display = "none";
                    var x = document.getElementById("form-2");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
                function form3() {
                    document.getElementById("form-1").style.display = "none";
                    document.getElementById("form-2").style.display = "none";
                    var x = document.getElementById("form-3");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }

           var index = 2;
    function insertRowt1(){
                var table=document.getElementById("myTable1");
                var row=table.insertRow(table.rows.length);
                var cell1=row.insertCell(0);
                var t1=document.createElement("input");
                  t1.setAttribute("name", "txtpurpose" + index )
                    t1.id = "txtName"+index;
                    cell1.appendChild(t1);
                var cell2=row.insertCell(1);
                var t2=document.createElement("input");
                t2.setAttribute("name", "txtreqdate" + index )
                    t2.id = "txtAge"+index;
                    cell2.appendChild(t2);
                var cell3=row.insertCell(2);
                var t3=document.createElement("input");
                t3.setAttribute("name", "txtdelivduedate" + index )
                    t3.id = "txtGender"+index;
                    cell3.appendChild(t3);
                var cell4=row.insertCell(3);
                var t4=document.createElement("input");
                t4.setAttribute("name", "txtdelivplace" + index )
                    t4.id = "txtOccupation"+index;
                    cell4.appendChild(t4);
                    var cell5=row.insertCell(4);
                var t5=document.createElement("input");
                t5.setAttribute("name", "txtnol" + index )
                    t5.id = "txtOccupation"+index;
                    cell5.appendChild(t5);
                    var cell6=row.insertCell(5);
                var t6=document.createElement("input");
                t6.setAttribute("name", "txtvendor" + index )
                    t6.id = "txtOccupation"+index;
                    cell6.appendChild(t6);
                    var cell7=row.insertCell(6);
                var t7=document.createElement("input");
                t7.setAttribute("name", "txtproductt" + index )
                    t7.id = "txtOccupation"+index;
                    cell7.appendChild(t7);
                    var cell8=row.insertCell(7);
                var t8=document.createElement("input");
                t8.setAttribute("name", "txtspecc" + index )
                    t8.id = "txtOccupation"+index;
                    cell8.appendChild(t8);
                    var cell9=row.insertCell(8);
                var t9=document.createElement("input");
                t9.setAttribute("name", "txtquant" + index )
                    t9.id = "txtOccupation"+index;
                    cell9.appendChild(t9);
                    var cell10=row.insertCell(9);
                var t10=document.createElement("input");
                t10.setAttribute("name", "txtunitpricee" + index )
                    t10.id = "txtOccupation"+index;
                    cell10.appendChild(t10);
                    var cell11=row.insertCell(10);
                var t11=document.createElement("input");
                t11.setAttribute("name", "txttotalprice" + index )
                    t11.id = "txtOccupation"+index;
                    cell11.appendChild(t11);
                    var cell12=row.insertCell(11);
                var t12=document.createElement("input");
                t12.setAttribute("name", "txtremarkk" + index )
                    t12.id = "txtOccupation"+index;
                    cell12.appendChild(t12);
                    var cell13=row.insertCell(12);
                var t13=document.createElement("input");
                t13.setAttribute("name", "txttotalmoney" + index )
                    t13.id = "txtOccupation"+index;
                    cell13.appendChild(t13);


          index++;
          console.log("form 1 rows:" + index);
          document.getElementById("index").value = index-1;

    }
    function insertRowt2(){
                var table=document.getElementById("myTable2");
                var row=table.insertRow(table.rows.length);
                var cell1=row.insertCell(0);
                var t1=document.createElement("input");
                t1.setAttribute("name", "txtdate" + index )
                    t1.id = "txtName"+index;
                    cell1.appendChild(t1);
                var cell2=row.insertCell(1);
                var t2=document.createElement("input");
                t2.setAttribute("name", "txtitems" + index )
                    t2.id = "txtAge"+index;
                    cell2.appendChild(t2);
                var cell3=row.insertCell(2);
                var t3=document.createElement("input");
                t3.setAttribute("name", "txtpaidto" + index )
                    t3.id = "txtGender"+index;
                    cell3.appendChild(t3);
                var cell4=row.insertCell(3);
                var t4=document.createElement("input");
                t4.setAttribute("name", "txtpaymethod" + index )
                    t4.id = "txtOccupation"+index;
                    cell4.appendChild(t4);
                    var cell5=row.insertCell(4);
                var t5=document.createElement("input");
                t5.setAttribute("name", "txtdetails" + index )
                    t5.id = "txtOccupation"+index;
                    cell5.appendChild(t5);
                    var cell6=row.insertCell(5);
                var t6=document.createElement("input");
                t6.setAttribute("name", "txtamount" + index )
                    t6.id = "txtOccupation"+index;
                    cell6.appendChild(t6);
                    var cell7=row.insertCell(6);
                var t7=document.createElement("input");
                t7.setAttribute("name", "txtremarks" + index )
                    t7.id = "txtOccupation"+index;
                    cell7.appendChild(t7);
                    var cell8=row.insertCell(7);
                var t8=document.createElement("input");
                t8.setAttribute("name", "txtsubtotal" + index )
                    t8.id = "txtOccupation"+index;
                    cell8.appendChild(t8);
                    var cell9=row.insertCell(8);
                var t9=document.createElement("input");
                t9.setAttribute("name", "txttotal" + index )
                    t9.id = "txtOccupation"+index;
                    cell9.appendChild(t9);
          index++;
          console.log("form 2 rows:" + index);
          document.getElementById("index").value = index-1;

    }
    function insertRowt3(){
                var table=document.getElementById("myTable3");
                var row=table.insertRow(table.rows.length);
                var cell1=row.insertCell(0);
                var t1=document.createElement("input");
                t1.setAttribute("name", "txtpurchase" + index )
                    t1.id = "txtName"+index;
                    cell1.appendChild(t1);
                var cell2=row.insertCell(1);
                var t2=document.createElement("input");
                t2.setAttribute("name", "txtdateofpurchase" + index )
                    t2.id = "txtAge"+index;
                    cell2.appendChild(t2);
                var cell3=row.insertCell(2);
                var t3=document.createElement("input");
                t3.setAttribute("name", "txtattentionto" + index )
                    t3.id = "txtGender"+index;
                    cell3.appendChild(t3);
                var cell4=row.insertCell(3);
                var t4=document.createElement("input");
                t4.setAttribute("name", "txtcontactperson" + index )
                    t4.id = "txtOccupation"+index;
                    cell4.appendChild(t4);
                    var cell5=row.insertCell(4);
                var t5=document.createElement("input");
                t5.setAttribute("name", "txttel" + index )
                    t5.id = "txtOccupation"+index;
                    cell5.appendChild(t5);
                    var cell6=row.insertCell(5);
                var t6=document.createElement("input");
                t6.setAttribute("name", "txtvenor" + index )
                    t6.id = "txtOccupation"+index;
                    cell6.appendChild(t6);
                    var cell7=row.insertCell(6);
                var t7=document.createElement("input");
                t7.setAttribute("name", "txtcontactperson" + index )
                    t7.id = "txtOccupation"+index;
                    cell7.appendChild(t7);
                    var cell8=row.insertCell(7);
                var t8=document.createElement("input");
                t8.setAttribute("name", "txttel" + index )
                    t8.id = "txtOccupation"+index;
                    cell8.appendChild(t8);
                    var cell9=row.insertCell(8);
                var t9=document.createElement("input");
                t9.setAttribute("name", "txtdeliverydate" + index )
                    t9.id = "txtOccupation"+index;
                    cell9.appendChild(t9);
                    var cell10=row.insertCell(9);
                var t10=document.createElement("input");
                t10.setAttribute("name", "txtdeliveryplace" + index )
                    t10.id = "txtOccupation"+index;
                    cell10.appendChild(t10);
                    var cell11=row.insertCell(10);
                var t11=document.createElement("input");
                t11.setAttribute("name", "txtno" + index )
                    t11.id = "txtOccupation"+index;
                    cell11.appendChild(t11);
                    var cell12=row.insertCell(11);
                var t12=document.createElement("input");
                t12.setAttribute("name", "txtproduct" + index )
                    t12.id = "txtOccupation"+index;
                    cell12.appendChild(t12);
                    var cell13=row.insertCell(12);
                var t13=document.createElement("input");
                t13.setAttribute("name", "txtspec" + index )
                    t13.id = "txtOccupation"+index;
                    cell13.appendChild(t13);
                    var cell14=row.insertCell(13);
                var t14=document.createElement("input");
                t14.setAttribute("name", "txtunit" + index )
                    t14.id = "txtOccupation"+index;
                    cell14.appendChild(t14);
                    var cell15=row.insertCell(14);
                var t15=document.createElement("input");
                t15.setAttribute("name", "txtquantity" + index )
                    t15.id = "txtOccupation"+index;
                    cell15.appendChild(t15);
                    var cell16=row.insertCell(15);
                var t16=document.createElement("input");
                t16.setAttribute("name", "txtunitprice" + index )
                    t16.id = "txtOccupation"+index;
                    cell16.appendChild(t16);
                    var cell17=row.insertCell(16);
                var t17=document.createElement("input");
                t17.setAttribute("name", "txtsum" + index )
                    t17.id = "txtOccupation"+index;
                    cell17.appendChild(t17);
                    var cell18=row.insertCell(17);
                var t18=document.createElement("input");
                t18.setAttribute("name", "txtremark" + index )
                    t18.id = "txtOccupation"+index;
                    cell18.appendChild(t18);
                    var cell19=row.insertCell(18);
                var t19=document.createElement("input");
                t19.setAttribute("name", "txttotal" + index )
                    t19.id = "txtOccupation"+index;
                    cell19.appendChild(t19);



          index++;
          console.log("form 3 rows:" + index);
          document.getElementById("index").value = index;

    }
// pdf generation
function demoFromHTML() {
    var pdf = new jsPDF('p', 'pt', 'letter');
    // source can be HTML-formatted string, or a reference
    // to an actual DOM element from which the text will be scraped.
    source = $('#myTable1')[0];

    // we support special element handlers. Register them with jQuery-style
    // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
    // There is no support for any other type of selectors
    // (class, of compound) at this time.
    specialElementHandlers = {
        // element with id of "bypass" - jQuery style selector
        '#bypassme': function (element, renderer) {
            // true = "handled elsewhere, bypass text extraction"
            return true
        }
    };
    margins = {
        top: 80,
        bottom: 60,
        left: 40,
        width: 522
    };
    // all coords and widths are in jsPDF instance's declared units
    // 'inches' in this case
    pdf.fromHTML(
    source, // HTML string or DOM elem ref.
    margins.left, // x coord
    margins.top, { // y coord
        'width': margins.width, // max width of content on PDF
        'elementHandlers': specialElementHandlers
    },

    function (dispose) {
        // dispose: object with X, Y of the last line add to the PDF
        //          this allow the insertion of new lines after html
        pdf.save('myTable.pdf');
    }, margins);
}


function getGender(){
    var name = document.getElementById("name-select").value;
    document.getElementById("name").value = name;
}
function getForm(){
    var name = document.getElementById("lol").value;
    document.getElementById("form-name").value = name;
}
</script>
</body>
</html>
