<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="" id="customers">
        {% for i in f|slice:":1" %}
        <p><b>Team Name: </b> {{i.name}}</p>
        {% endfor %}
        <div>
            <table id="tbl"  width="300%">
                <thead>
                    <tr>

                        <th>Date</th>
                        <th>Items</th>
                        <th>Paid</th>
                        <th>Payment</th>
                        <th>Detail</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th>Sub-total</th>
                        <th>Total</th>
                    </tr>
                </thead>
                {% for i in f %}
                  <tbody>
                    <tr>
                      <td>{{i.date}}</td>
                      <td>{{i.item}}</td>
                      <td>{{i.paid}}</td>
                      <td>{{i.payment}}</td>
                      <td>{{i.detail}}</td>
                      <td>{{i.amount}}</td>
                      <td>{{i.remark}}</td>
                      <td>{{i.subtotal}}</td>
                      <td>{{i.total}}</td>
                  </tbody>
                    {% endfor %}
            </table>
        </div>
        <button class="btn" onclick="javascript:demoFromHTML();">PDF</button>
    </div>
<style>
#tbl{
width:1400;
font-size:7px;
}
</style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script>
        function demoFromHTML() {
            var pdf = new jsPDF('p', 'pt', 'letter');
            source = $('#customers')[0];
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 10,
                bottom: 10,
                left: 10,
                width: 5000
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                    'width': margins.width, // max width of content on PDF
                    'elementHandlers': specialElementHandlers
                },

                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF
                    //          this allow the insertion of new lines after html
                    pdf.save('file.pdf');
            }, margins);
        }
</script>
</body>
</html>
