<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


table, th, td {
  border: solid 1px #000;
  padding: 10px;
}

table {
    border-collapse:collapse;
    caption-side:bottom;
    table-layout:auto;
    width:auto;
}



    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <div id="content">
          <table id="demo" class="table table-bordered">
              <thead>
              <tr>
                  <th>Team</th>
                  <td>Team_name</td>
              </tr>
              </thead>
          </table>
          <table id="demo" class="table table-bordered">
              <thead>
              {% for i in f|slice:":1" %}
              <tr>
                  <th>Owner</th>
                  <td>{{i.name}}</td>
                  <th>Peroid of Expendeture</th>
                  <td>data of period</td>
                  <th>Sum</th>
                  <td>Sum??</td>
              </tr>
              {% endfor %}
              </thead>
          </table>
        <table id="demo" class="table table-bordered">
          <thead>
            <tr>
              <th>Purpose</th>
              <th>Request_Dtae</th>
              <th>Request_approval_date</th>
                <th>delivery_due_date</th>
              <th>Ventor</th>
              <th>Product</th>
                <th>Spec</th>
              <th>Quantity</th>
              <th>Unit_Price</th>
                <th>total_price</th>
              <th>Remark</th>
              <th>Total</th>

            </tr>
          </thead>
            {% for i in f %}
          <tbody>
            <tr>
              <td>{{i.purpose}}</td>
              <td>{{i.request_date}}</td>
              <td>{{i.delivery_due_date}}</td>
              <td>{{i.number}}</td>
              <td>{{i.ventor}}</td>
              <td>{{i.product}}</td>
              <td>{{i.spec}}</td>
              <td>{{i.quantity}}</td>
              <td>{{i.unit_price}}</td>
              <td>{{i.total_price}}</td>
              <td>{{i.remark}}</td>
              <td>{{i.total}}</td>
          </tbody>
            {% endfor %}
        </table>
        <div>
          <button class="btn" onclick="tablesToExcel(['testTable'], ['un'], 'myfile.xls')" id="export">Save</button>
        </div>

        <br>
        <footer class="footer">Demo from https://jsfiddle.net/Purushoth/bor1nggb</footer>

      </div>


    </div>
  </div>
</div>
<br>
<script>
    document.getElementById('export').addEventListener('click',
  exportPDF);

var specialElementHandlers = {
  // element with id of "bypass" - jQuery style selector
  '.no-export': function(element, renderer) {
    // true = "handled elsewhere, bypass text extraction"
    return true;
  }
};

function exportPDF() {

  var doc = new jsPDF('p', 'pt', 'a4');
  //A4 - 595x842 pts
  //https://www.gnu.org/software/gv/manual/html_node/Paper-Keywords-and-paper-size-in-points.html


  //Html source
  var source = document.getElementById('content').innerHTML;

  var margins = {
    top: 100,
    bottom: 100,
    left: 100,
    width: 5950,
  };

  doc.fromHTML(
    source, // HTML string or DOM elem ref.
    margins.left,
    margins.top, {
      'width': margins.width,
      'elementHandlers': specialElementHandlers
    },

    function(dispose) {
      // dispose: object with X, Y of the last line add to the PDF
      //          this allow the insertion of new lines after html
      doc.save('Test.pdf');
    }, margins);
}





</script>


</body>
</html>